body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header,
  .website {
    background-color: #1F2937;
  }
  
  .header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
  }
  
  .header-links {
    list-style: none;
  }
  
  .header-links li {
    font-size: 18px;
    font-weight: 400;
  }
  
  .header-links a {
    text-decoration: none;
    color: #E5E7EB;
  }
  
  .website p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 400;
  }
  
  .website h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
  }
  
  .signup {
    background-color: #3882F6;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .info {
    background-color: #fdf6ec;
    color: #1F2937;
  }
  
  .info h2 {
    font-size: 36px;
    font-weight: 900;
  }
  
  .quote {
    background-color: #E5E7EB;
  }
  
  .quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
  }
  
  .section {
    background-color: #00838f;
    color: #ffffff;
  }
  
  .section h3 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .section p {
    font-size: 16px;
  }
  
  .copyright {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 14px;
  }
  
  .feature img {
    width: 250px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
  }
  